:root {
  --aw-color-primary: hsl(216, 100%, 47%);        /* rgb(1 97 239) */
  --aw-color-secondary: hsl(216, 100%, 41%);      /* rgb(1 84 207) */
  --aw-color-accent: hsl(277, 56%, 50%);          /* rgb(109 40 217) */

  --aw-color-text-heading: hsl(0, 0%, 0%);        /* rgb(0 0 0) */
  --aw-color-text-default: hsl(0, 0%, 6%) ;       /* rgb(16 16 16) */
  --aw-color-text-muted: hsla(0, 0%, 6%, 0.66);   /* rgb(16 16 16 / 66%) */
  --aw-color-bg-page: hsl(0, 0%, 100%);           /* rgb(255 255 255) */

  --aw-color-bg-page-dark: hsl(234, 13%, 10%);    /* rgb(3 6 32) */

  ::selection {
    background-color: hsl(240, 86%, 29%);         /* rgb(18, 18, 130) */
    color: hsl(0, 0%, 100%);                      /* white */
  }
}
